.footer-page{
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
}

span{
    font-size: smaller;
    height: 100%;
}