.item-page{
    padding-bottom: 50px;
}
.back-page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: inherit;
}
#BackArrow {
    height: 35px;
    width: 35px;
}

.back-page span {
    font-size: 20px;
}


.outer-box {
    width: 80%;
    height: 48vh;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--color-primary);
    border-radius: 20px;
    color:var(--color-white);
    font-weight: 400;
    font-size: 18px;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.span-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
}

.span-group span {
    color: var(--color-white);
    text-align: left;
}

.inner-box {
    width: 95%;
    height: 80%;
    margin: 10px auto;
    background-color: #3B4E5B;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
}


.detail {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    column-gap: 8px;

}
/*@media (min-width:250px) and (max-width:380px){
    .inner-box{
        height: 70%;
    }
    .outer-box{
        height: 45vh;
    }
}*/

    @media (min-width:550px) and (max-width:950px) {
        .outer-box {
            width: 50%;
            height: 35%;
        }
        .inner-box {
            width: 80%;
        }
        #BackArrow {
            height: 50px;
            width: 50px;
        }
        .back-page span {
            font-size: 28px;
        }
    }

@media (min-width:950px) and (max-width:1080px) {
    .outer-box{
        width: 30%;
        height: 30%;
    }
    #BackArrow {
        height: 50px;
        width: 50px;
    }
    .back-page span {
        font-size: 28px;
    }
}

@media (min-width:1080px) {
    .outer-box{
        width: 40%;
        height: 30%;
    }
    #BackArrow {
        height: 50px;
        width: 50px;
    }
    .back-page span {
        font-size: 28px;
    }
    .inner-box {
        width: 70%;
    }
}