.parcel-status {
    margin-left: 2.5rem;
    border-left: 3px solid var(--color-primary);
    margin-bottom: 50px;
}

.not-active,
.completed,
.active {
    padding-left: .5rem;
    padding-bottom: 2rem;
    position: relative;
}

.completed:last-child{
    padding-bottom: 0
}

.not-active span,
.completed span,
.active span {
    margin: 0;
    font-size: larger;
    font-weight: 600;
}

.not-active::before , .completed::before , .active::before {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--color-white);
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    position: absolute;
    left: -.7rem;
}

.active:last-child, .not-active:last-child {
    padding-bottom: 0rem;
}

.completed::before, .active:last-child:before {
    content: "";
    font-size: large;
    background: var(--color-secondary);
    border: 2px solid var(--color-primary);
}

.active::before {
    content: "";
    background: var(--color-primary);
    border: 2px solid var(--color-secondary);
    box-shadow: 0px 0px 14px 4px rgba(0,0,0,8);
}


@media (min-width: 550px) and (max-width:750px) {}

@media (min-width: 750px) and (max-width:1020px) {
    .parcel-status {
        margin-left: 25%;
        border-left: 3px solid var(--color-primary);
        margin-bottom: 50px;
    }

    .not-active span,
    .completed span,
    .active span {
        margin: 0;
        font-size: x-large;
        font-weight: 600;
    }

    .active::before,
    .completed::before,
    .not-active::before {
        width: 25px;
        height: 25px;
        left: -1rem;
    }

    .not-active,
    .completed,
    .active {
        padding-bottom: 4rem;
        position: relative;
    }
}

@media (min-width: 1020px) {

    .parcel-status {
        margin-left: 40%;
        border-left: 3px solid var(--color-primary);
        margin-bottom: 50px;
    }

    .not-active span,
    .completed span,
    .active span {
        margin: 0;
        font-size: x-large;
        font-weight: 600;
    }

    .active::before,
    .completed::before,
    .not-active::before {
        width: 25px;
        height: 25px;
        left: -1rem;
    }

    .not-active,
    .completed,
    .active {
        padding-bottom: 4rem;
        position: relative;
    }
}